.center {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: col;
  align-items: center;
  justify-content: center;
}
.account-settings .user-profile {
  padding-bottom: 1rem;
  text-align: center;
}

.account-settings .user-profile .user-avatar img {
  width: 150px;
  height: 150px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
