@import 'src/pages/chat/style/_colors';

$chat-title-shadow: darken($accent-color, 75.29);

#chat-title {
  display: flex;
  grid: 36px / 1fr 36px;
  align-content: center;
  align-items: center;
  grid-area: chat-title;
  background: $accent-color;
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 0 10px 0 0;
  box-shadow: 0 1px 3px -1px $chat-title-shadow;
  padding: 0 20px;
  z-index: 1;
  height: 50px;
}

.chat_title_label{
  font-weight: normal;
}
